.udemy-dual-subtitle {
  margin-top: 4px;
  font-size: 0.9em;
  line-height: 1.3;
  text-align: center;
  color: #d6e4ff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  font-weight: 500;
  pointer-events: none;
}

.udemy-dual-subtitle.pending {
  opacity: 0.6;
}

[class*='well--container'] {
  flex-direction: column;
  align-items: center;
}

[class*='well--container'] [class*='well--text'] {
  padding-block: 0;
}
